@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  padding: 20px;
  background-color: rgb(6, 51, 68);
  color: rgb(218, 216, 216);
  cursor: pointer;
}

.button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}

.btn{
  background-color:  rgb(6, 51, 68);
  color:rgb(218, 216, 216);
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(10, 67, 88);
  padding: 10px 20px;
}

.header i {
  cursor: pointer;
}




.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.filter .form-control {
  width: 100%;
}

.filter .form-control input {
  background-color: transparent;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  color: rgb(218, 216, 216);
  font-family: inherit;
  width: 100%;
  margin: 0 0 30px;
}

.filter .form-control input::placeholder {
  color: rgb(218, 216, 216);
}


.filter .region-filter .select {
  background-color: rgb(6, 51, 68);
  color: rgb(218, 216, 216);
  font-family: inherit;
  padding: 8px;
  width: 200px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}

.grid article img {
  width: 100%;
}

.grid .flags {
  background-color: rgb(10, 67, 88);
  padding: 20px;
  margin-top: -10px;
  width: 100%;
}

.grid .flags h3 {
  padding-bottom: 10px;
}

.grid .flags h4 {
  padding-bottom: 5px;
}
.grid .flags h4 span {
  font-weight: 300;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .filter {
    flex-direction: row;
  }
  .filter .form-control {
    width: auto;
  }

  .filter .form-control input {
    width: auto;
    margin: 0;
  }

  .filter .region {
    width: auto;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 992px) {
  body {
    padding: 40px 100px;
  }
  .grid {
    grid-template-columns: (4, 1fr);
    gap: 60px;
  }
}
